/* Root styles */

* {
    box-sizing: border-box;
    scroll-behavior: smoooth;
    font-family: 'Poppins', 'century gothic', sans-serif;
    font-size: 18px;
}

:root {
    --main-bg-gradient: linear-gradient(black, rgb(37, 37, 37), rgb(138, 137, 137));
    --main-bg-solid-color: black;
    --nav-footer-bg-color: black;
    --main-text-color: white;
    --h1-gradient: linear-gradient(to right, rgb(255, 0, 72), orange, rgb(255, 242, 0), lime, rgb(69, 54, 237), rgb(100, 3, 185), rgb(241, 74, 224));;
    --link-default-color: aqua;
    --link-hover-color: rgb(236, 80, 168);
    --link-active-color: purple;
    --link-visited-color: darkturquoise;
    --border-color: rgba(255, 255, 255, 0.4);
    --border-color-imgs: rgba(255, 255, 255, 0.8);
    --border-color-nav: rgba(255, 255, 255, 0.2);
    --border-color-footer: rgba(255, 255, 255, 0.6);
}


/* Main Structural Divs/Styles */

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--main-bg-gradient);
    color: var(--main-text-color);
    text-align: center;
}

#header {
    margin: 0;
    padding: 0;
    width: 100%;
}

#nav-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--nav-footer-bg-color);
    border-bottom: 1px solid var(--border-color-nav);
}

#hero {
    margin: 0;
    padding: 0;
    width: 100%;
}

#main {
    margin: 0;
    padding: 0;
    width: 100%;
}

#coming-soon-alert {
    margin: 3.6rem auto;
    padding: 0.2rem;
    background-color: var(--main-bg-solid-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#book-info {
    margin: 0 auto;
    padding: 0;
}

#book-info-liner {
    margin: 3.2rem auto 1.6rem auto;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;   
    object-fit: cover;
    gap: 1.6rem;
}

#footer {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--nav-footer-bg-color);
    border-top: 1px solid var(--border-color-footer);
}


/* H1-6, Ps, associated classes */

h1 {
    margin: 1rem auto;
    padding: 0.2rem;
    font-family: 'Lilita One', century, serif;
    background: var(--h1-gradient);
    background-clip: text;
    color: transparent;

}

.h1-pt1 {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    line-height: 5.4rem;
}

.h1-pt1a {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    line-height: 4.8rem;
}

.h1-pt2 {
    font-family: serif;
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 800;
}

.h1-pt3 {
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    line-height: 2.4rem;
}

h2 {
    margin: 0 auto;
    padding: 0.2rem;
    font-family: century;
    font-size: 3.2rem;    
    letter-spacing: 0.1rem;
    line-height: 3.4rem;
}

p {
    margin: 0 auto;
    padding: 0;
    text-shadow: 0.4rem 0.4rem 1.2rem var(--main-bg-solid-color);
}

.tagline,
.preorder {
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.6rem;
}

.eta-date {
    padding: 0;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.8rem;
}

.smaller-italic {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
}

.book-desc {
    margin: 0 auto;
    padding: 0;    
}

.desc-qs {
    margin: 0.5rem auto;
    padding: 0.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
}

.desc {
    margin: auto 1rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.preorder {
    margin: 1rem auto;
    padding: 0.4rem;
    font-weight: 600;
}

#footer p {
    margin: 0 auto;
    padding: 0.2rem;
    font-style: italic;
    font-size: 0.8rem;
}


/* images */

img {
    height: 20rem;
    width: 16rem;
    padding: 0;
    margin: 0 auto;
    border: 2px solid var(--border-color-imgs);
    border-radius: 0.4rem;
}

#image-wrapper {
    padding: 0.4rem;
    margin: 1rem auto;
    border: 2px solid var(--border-color-imgs);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
}


/* nav/menu button */

button {
    font-size: 1.2rem;
    background-color: var(--link-default-color);
    border-radius: 0.4rem;
}

#nav-icon-dashboard {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: flex-end;
    align-items: center;
}

#nav-icon-dashboard a {
    /*  good size for fa icons ... save for now ...
    width: 2.8rem;
    height: 2.8rem;
    */
    margin: 0.5rem 1rem 0.5rem 0.1rem;
    padding: 0.1rem;
    text-decoration: none;
    border: 2px solid var(--border-color);
    border-radius: 0.4rem;
    color: var(--main-text-color);
    opacity: 90%;
}

#nav-icon-dashboard a:hover {
    background-color: var(--link-hover-color);
}

/*  styles for fa icons ... save for now ...
#nav-icon-dashboard i {
    box-sizing: border-box;
    margin: 0.2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
*/


/* links */ 

a {
    color: var(--link-default-color);
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2rem;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

a:active {
    color: var(--link-active-color);
}

a:visited {
    color: var(--link-visited-color);
}
