/* Root styles */

* {
    box-sizing: border-box;
    scroll-behavior: smoooth;
    font-family: 'Poppins', 'century gothic', sans-serif;
    font-size: 18px;
    text-align: center;
}

:root {
    --main-bg-gradient: linear-gradient(black, rgb(37, 37, 37), rgb(138, 137, 137));
    --main-bg-solid-color: black;
    --nav-bg-color: black;
    --footer-bg-color: black;

    --main-text-color: white;

    --h1-gradient: linear-gradient(to right, rgb(255, 0, 72), orange, rgb(255, 242, 0), lime, rgb(69, 54, 237), rgb(100, 3, 185), rgb(241, 74, 224));;
    
    --link-default-color: aqua;
    --link-hover-color: rgb(236, 80, 168);
    --link-active-color: purple;
    --link-visited-color: darkturquoise;
    
    --border-color: rgba(255, 255, 255, 0.4);
    --border-color-imgs: rgba(255, 255, 255, 0.8);
    --border-color-nav: rgba(255, 255, 255, 0.2);
    --border-color-footer: rgba(255, 255, 255, 0.6);
}


html, body, header, main, footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

html {
    background: var(--main-bg-gradient);
    color: var(--main-text-color);
}

body {}

header {}

    nav, #hero {
        margin: 0;
        padding: 0;
        width: 100%;
    }

main {}

footer {
    background-color: var(--footer-bg-color);
    border-top: 1px solid var(--border-color-footer);
}
    footer p {
        margin: 0 auto;
        padding: 0.2rem;
        font-style: italic;
        font-size: 0.8rem;
    }


/* NAV BAR START */ 
nav {
    background-color: var(--nav-bg-color);
    border-bottom: 1px solid var(--border-color-nav);
}

#nav-icon-dashboard {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: flex-end;
    align-items: center;
}

#nav-icon-dashboard a {
    /*  good size for fa icons ... save for now ...
    width: 2.8rem;
    height: 2.8rem;
    */
    margin: auto 1rem;
    padding: 0.4rem;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    color: var(--main-text-color);
    opacity: 90%;
}

    /* nav/menu button */

    button {
        margin: 0;
        padding: 0.2rem;
        font-size: 1.2rem;
        background-color: var(--link-default-color);
        border-radius: 0.4rem;
    }

    a:hover button {
        background-color: var(--link-hover-color);
        cursor: pointer;
    }

/*  styles for fa icons ... save for now ...
#nav-icon-dashboard i {
    box-sizing: border-box;
    margin: 0.2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
*/

/* NAV BAR END */


/* HERO Start */ 
h1 {
    margin: 1rem auto;
    padding: 0.2rem;
    font-family: 'Lilita One', century, serif;
    background: var(--h1-gradient);
    background-clip: text;
    color: transparent;
}

.h1-pt1 {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    line-height: 5.4rem;
}

.h1-pt1a {
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    line-height: 4.8rem;
}

.h1-pt2 {
    font-family: serif;
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 800;
}

.h1-pt3 {
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    line-height: 2.4rem;
}
/* HERO end */ 


/* MAIN BODY STYLES */

#coming-soon-alert {
    margin: 3.6rem auto;
    padding: 0;
    background-color: var(--main-bg-solid-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

        h2 {
        margin: 0 auto;
        padding: 0.2rem;
        font-family: century;
        font-size: 3.2rem;    
        letter-spacing: 0.1rem;
        line-height: 3.4rem;
        }

        .tagline {
            margin: 0 auto 0.1rem auto;
            padding: 0.2rem;
            font-size: 1.2rem;
            font-style: italic;
            font-weight: 300;
            line-height: 1.4rem;
        }

        .eta-date {
            margin: 0.2rem auto;
            padding: 0;
            font-size: 1.6rem;
            font-weight: 900;
            line-height: 1.8rem;

        }
        
        .smaller-italic {
            font-style: italic;
            font-size: 1.2rem;
            font-weight: 500;
        }


#book-info {
    margin: 0 auto;
    padding: 0;
}

    #book-info-liner {
        margin: 1.6rem auto;
        padding: 0.2rem;
        width: 90%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: start;
        overflow: hidden;
        flex-grow: 1;
    }

        .book-qs {
            margin: 1rem auto;
            padding: 0;
            width: 42rem;
            height: auto;  
        }

        h3 {
            margin: 1rem auto;
            padding: 0.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2rem;
            text-shadow: 0.4rem 0.4rem 1.2rem var(--main-bg-solid-color);
        }

        .desc {
            margin: 0 auto;
            padding: 0.4rem;
            font-size: 1.2rem;
            line-height: 1.6rem;
            font-weight: 300;
            text-shadow: 0.4rem 0.4rem 1.2rem var(--main-bg-solid-color);
        }
        

        /* email (updates) sign up form */ 
        form.sign-up {
            margin: 0 auto;
            padding: 0;
            width: 100%;
        }

        .sign-up fieldset {
            margin: 0 auto;
            padding: 0.2rem;
            font-size: 1.1rem;
            font-weight: 300;
            line-height: 1.6rem;
            color: var(--link-default-color);
            border: none;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            flex-grow: 1;
        }

        .sign-up label {
            margin: 0 auto;
            padding: 0.2rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 2rem;
            width: 100%;
        }

        .sign-up input {
            margin: 0.1rem auto;
            padding: 0.2rem;
            border: 1px solid var(--link-default-color);
            border-radius: 0.4rem;
            font-size: 1.2rem;
        }

        #sign-up-button {
            margin: 0.1rem auto;
            padding: 0.1rem 0.4rem;
            background-color: var(--link-default-color);
            border: 2px solid var(--main-text-color);
            font-weight: 600;
            cursor: pointer;
        }

        #sign-up-button:hover {
            margin: 0.1rem auto;
            padding: 0.1rem 0.4rem;
            background-color: var(--link-hover-color);
            border: 2px solid var(--main-text-color);
            font-weight: 600;
        }


        /* pre-order form */ 
        form.preorder {
            margin: 0 auto;
            padding: 0;
            width: 100%;
        }

        .preorder fieldset {
            margin: 0 auto;
            padding: 0.2rem;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 2rem;
            color: var(--link-default-color);
            text-transform: uppercase;
            border: none;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            flex-grow: 1;
        }

        .preorder label {
            margin: 0 auto;
            padding: 0.2rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 2rem;
            width: 90%;
            font-size: 1rem;
        }

        .preorder input {
            margin: 0.1rem auto;
            padding: 0.2rem;
            border: 1px solid var(--link-default-color);
            border-radius: 0.4rem;
            font-size: 1.2rem;
            width: 80%;
        }

        .preorder input::placeholder {
            font-size: 0.9rem;
            line-height: 1.1rem;
        }

        .preorder .bold {
            margin: 0 auto 0.2rem auto;
            padding: 0.2rem;
            font-size: 1.6rem;
            font-weight: 600;
        }

        .preorder #cc-info {
            margin: 0 auto;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            flex-grow: 1;
        }

        .preorder #cc-info label {
            margin: 0 auto;
            padding: 0;
            width: 48%;
        }
        

        #preorder-button {
            margin: 1rem auto 2rem auto;
            padding: 0.2rem 0.4rem;
            background-color: var(--link-default-color);
            border: 2px solid var(--main-text-color);
            font-weight: 600;
            cursor: pointer;
        }

        #preorder-button:hover {
            margin: 1rem auto 2rem auto;
            padding: 0.2rem 0.4rem;
            background-color: var(--link-hover-color);
            border: 2px solid var(--main-text-color);
            font-weight: 600;
        }
      

        .fine-print {
            font-size: 0.8rem;
            margin: 0 auto 1rem auto;
            padding: 0;
            line-height: 1rem;
            text-align: start;
            width: 78%;
        }

/* images */

img {
    height: 20rem;
    width: 16rem;
    padding: 0;
    margin: 0 auto;
    border: 2px solid var(--border-color-imgs);
    border-radius: 0.4rem;
}

#image-wrapper {
    padding: 0.4rem;
    margin: 1rem auto;
    border: 2px solid var(--border-color-imgs);
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* links */ 

a {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 2rem;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

a:active {
    color: var(--link-active-color);
}

a:visited {
    color: var(--link-visited-color);
}
